@use "../components/failure/failure";
@use "../components/button/button";
@use "../styles/authForm";
@use "../styles/profile";
@use "../styles/chat";

:root {
    --shadow: 0 0 .6rem 0 rgb(0 0 0 / 14%);
    --primary: rgb(51 105 243);
    --text-light: rgb(153 153 153);
    --text-dark: rgb(30 30 30);
    --light-grey-bg: rgb(239 239 239);
    --navigate-width: 6.4rem;
    --border: .1rem solid rgb(234 234 234);
    --block-bg: rgb(251 251 251);
    --message-bg: rgb(248 248 248);
    --reply-bg: rgb(228 237 253);
    --error: red;
}

html {
    font-size: 10px;
}

* {
    font-family: Inter, sans-serif;
}

a {
    color: var(--primary);
}

input:focus-visible {
    outline: none;
}

body {
    margin: 0;
}

.app {
    width: 128rem;
    height: 72rem;
    position: relative;
}

.wrapper {
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message {
    display: none;
    margin-top: 1rem;

    &__error {
        border-color: var(--error) !important;

        & + .message {
            display: block;
            color: var(--error);
        }
    }
}

.form {
    &__link {
        font-size: 1.1rem;
        margin-top: 1.4rem;
        color: var(--primary);
        text-decoration: none;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 0;
        height: 4rem;
        font-size: 1.3rem;

        &--item {
            list-style-type: none;
        }
    }
}
