<div class="profile__wrapper">
    <aside class="profile__navigate">
        <div class="profile__navigate--icon wrapper__center"></div>
    </aside>
    <form class="profile__info--container">
        {{> Avatar}}
        <div class="profile__list profile__list--info">
            <div class="profile__list--item">
                <span>Старый пароль</span>
                {{> Input
                        class="profile__textbox"
                        type="password"
                }}
            </div>
            <div class="profile__list--item">
                <span>Новый пароль</span>
                {{> Input
                        class="profile__textbox"
                        type="password"
                }}
            </div>
            <div class="profile__list--item">
                <span>Повторите новый пароль</span>
                {{> Input
                        class="profile__textbox"
                        type="password"
                }}
            </div>
        </div>
        {{> Button
                class="form__submit"
                text="Сохранить"
                type="submit"
        }}
    </form>
</div>
