<div class="profile__wrapper">
    <aside class="profile__navigate">
        <div class="profile__navigate--icon wrapper__center"></div>
    </aside>
    <form class="profile__info--container">
        {{> Avatar}}
        <div class="profile__list profile__list--info">
            {{#if profileList.length}}
                {{#each profileList as |field|}}
                    <div class="profile__list--item">
                        {{> Input
                                class="profile__textbox profile__textbox__with--input"
                                type="text"
                        }}
                    </div>
                {{/each}}
            {{/if}}
        </div>
        {{> Button
                class="form__submit"
                text="Сохранить"
                type="submit"
        }}
    </form>
</div>
