<div class="chat__wrapper">
    <div class="chat__list">
        <form class="chat__list--header">
            {{> Link
                    class="chat__header--link"
                    text="Помощь"
            }}
            {{> Input
                    class="chat__header--search"
                    type="text"
                    placeholder="Поиск"
            }}
        </form>
        <div class="chat__list--main">
            {{> Chat
                    title="Киноклуб"
                    date="10:42"
                    message="Круто!"
            }}
        </div>
    </div>
    <div class="chat__space">
        <header class="chat__space__header">
            <div class="chat__space__header--info">
                <div class="chat__space__header--avatar"></div>
                <p class="chat__space__header--label">Вадим</p>
            </div>
            <div class="chat__space__header--menu"></div>
        </header>
        <main></main>
        <footer class="chat__space__footer">
            <div class="chat__space__footer--clip"></div>
            {{> Input
                    class="chat__space__footer--message"
                    placeholder="Сообщение"
                    type="text"
                    name="message"
            }}
            <div class="chat__space__footer--submit"></div>
        </footer>
    </div>
</div>
