<nav>
    <ul class="nav__list">
        <li class="nav__list--item">{{> Link text="Страница авторизации" data-page="login"}}</li>
        <li class="nav__list--item">{{> Link text="Страница регистрации" data-page="sign-up"}}</li>
        <li class="nav__list--item">{{> Link text="Страница со списком чатов" data-page="chat"}}</li>
        <li class="nav__list--item">{{> Link text="Страница профиля" data-page="profile"}}</li>
        <li class="nav__list--item">{{> Link text="Страница изменения пароля" data-page="change-password"}}</li>
        <li class="nav__list--item">{{> Link text="Страница изменения профиля" data-page="change-info"}}</li>
        <li class="nav__list--item">{{> Link text="Страница 404" data-page="404"}}</li>
        <li class="nav__list--item">{{> Link text="Страница 5xx-ошибок" data-page="500"}}</li>
    </ul>
</nav>