<div class="app wrapper__center">
    <div class="auth__form wrapper__center">
        <div class="auth__form__block">
            <p class="auth__form__title">Регистрация</p>
            {{> Input
                    class='auth__form__textbox'
                    type='text'
                    name='email'
                    label='Почта'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='text'
                    name='login'
                    label='Логин'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='text'
                    name='first_name'
                    label='Имя'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='text'
                    name='second_name'
                    label='Фамилия'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='text'
                    name='phone'
                    label='Телефон'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='password'
                    name='password'
                    label='Пароль'
            }}
            {{> Input
                    class='auth__form__textbox'
                    type='password'
                    label='Пароль (ещё раз)'
                    message='Пароли не совпадают'
                    isInvalid=true
            }}
        </div>
        <div class="auth__form__block">
            {{> Button class='form__submit' text="Зарегистрироваться"}}
            {{> Link class='form__link' text='Войти'}}
        </div>
    </div>
</div>
