@mixin avatar($dimension) {
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    background: var(--light-grey-bg);
}

.avatar {
    @include avatar(13rem);

    position: relative;

    &--icon {
        fill: #CDCDCD;
        background: url("/static/avatar.svg") no-repeat;
        width: 4rem;
        height: 4rem;
    }

    &--overlay {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        top: 0;
        z-index: 10;
        background: black;
        opacity: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: .5;
        }

        &__text {
            font-size: 1.3rem;
            line-height: 1.4rem;
            text-align: center;
            color: #fff;
        }
    }

    &--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem;
    }

    &--username {
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-top: 2rem;
        margin: 0;
    }
}
